<footer>
	<div class="footer-container">
		<div>

			<a href="/register">Inscription</a>
			<a href="/login">Connexion</a>
			<a href="">Company</a>
		</div>
		<div>
			<p>Copyright by TeamSync</p>
		</div>
	</div>
</footer>
