section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.errorss {
    color: rgb(255, 0, 0);
    font-size: 15px;
    margin-bottom: 10px;
}

.errorss p{
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

form {
    display: flex;
    width: 450px;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: space-around;
}

form div {
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}

form input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 500px;
    border-radius: 10px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.rememberMeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.rememberMeDiv input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.rememberMeDiv label {
    margin: 0;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
}